[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
onnxruntime = "*"
python-dotenv = "*"
django = "*"
pytz = "*"
dj-database-url = "*"
pydload = "*"
psycopg2 = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
requests = "*"
xlsxwriter = "*"
apscheduler = "*"
fuzzyfinder = "*"
pynacl = "*"

[dev-packages]
jupyter = "*"
notebook = "*"

[requires]
python_version = "3.9"
