[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
onnxruntime = "*"
python-dotenv = "*"
django = "*"
pytz = "*"
dj-database-url = "*"
opencv-python-headless = "*"
pydload = "*"
scikit-image = "*"
psycopg2 = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
requests = "*"
"discord.py" = {extras = ["voice"], version = "*"}
xlsxwriter = "*"

[dev-packages]

[requires]
python_version = "3.9"
