[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
onnxruntime = "*"
python-dotenv = "*"
django = "*"
pytz = "*"
dj-database-url = "*"
opencv-python-headless = "*"
pydload = "*"
scikit-image = "*"
psycopg2 = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
librespot = {git = "https://github.com/kokarare1212/librespot-python"}
requests = "*"
xlsxwriter = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.9"
