-i https://pypi.org/simple
discord==2.2.3
dj-database-url==2.0.0
django==4.2.1
django-filter==23.2
djangorestframework==3.14.0
ffmpeg==1.4
ffmpeg-python==0.2.0
numpy==1.24.3 ; python_version >= '3.8'
onnxruntime==1.14.1
opencv-python-headless==4.7.0.72
pyaudio==0.2.13
python-dotenv==1.0.0
pytz==2023.3
requests==2.29.0

